@page "/Management"
@inject HttpClient http
@using Industry_Machine_Park.Services

<PageTitle>Management</PageTitle>

<h1>Management Central</h1>

@if (Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>MachineID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machines)
            {
                <tr>
                    <td>@machine.Id</td>
                    <td>@machine.Name</td>
                    <td>@machine.Type</td>
                    <td>@machine.StartDate</td>
                    <td>@machine.EndDate</td>
                    <td>@machine.Location</td>
                    <td>@machine.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Inject]
    public IMachineClient MachineClient { get; set; } = default!;

    private List<Machine> Machines = new List<Machine>();

    protected override async Task OnInitializedAsync(){
        Machines = (await MachineClient.GetAsync()).ToList();
    }




}
